* {
  margin: 0;
  padding: 0;
}


#titulo {
  font-family: sans-serif;
  color: #ffffff;
  margin-left: 7%;
  top: auto;
} 

#subtitulo {
  font-family: sans-serif;
  color: #ffffff;
  margin-left: 0.8%;
  
} 

#check{
  display: inline-block;
}


fieldset {
  border: 0;
}


body{
  background-color: #000000;
  font-family: sans-serif;
  font-size: 1em;
  color: white;
  margin-left: 34%;
  margin-top: 3%;
  justify-content:center;
}

input, select, textarea, button {
  font-family: sans-serif;
  font-size: 1em;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}


.grupo:before, .grupo:after {
  display: table;
}


.grupo:after {
  clear: both;
}


.campo {
  margin-bottom: 1.3em;
}


.campo label {
  margin-bottom: 0.2em;
  color: rgb(255, 255, 255);
  display:flex;
}

fieldset.grupo .campo {
  float:none;
  margin-right: 1em;
}


.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  padding: 0.2em;
  border: 3px solid darkslategrey;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display:block;
}

.botao {
  font-size: 1.2em;
  background: #ffffff;
  border: 0;
  margin-bottom: 1em;
  color: #000000;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: absolute;
  top: 87%;
  left: 49%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


.botao:hover {
  background: darkslategrey;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}


.botao, select{
  cursor: pointer;
}





