* {
  margin: 0 auto;
}

body {
  background-image: linear-gradient(45deg, black, grey);
  height: 100%;
}

section {
  width: 50%;
  background: #fff;
  border: 7px solid #ccc;
  border-radius: 6px;
}

section h1 {
  text-align: center;
  color: black;
}

section form fieldset input {
  width: 90%;
  height: 25px;
}

#mensagem {
  width: 70%;
  height: 60px;
}

#cidade {
  width: 50%;
}

#rodape_site {
  width: 90%;
  height: 80px;
  background: #696969;
  clear: both;
  border-radius: 2px;
}

#rodape_site {
  text-align: center;
}