body{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(45deg, black, grey);
}

.slider{
    max-width: 700px;
    border:10px solid silver;
    margin: 50px auto;
    overflow: hidden;
}

.slider .slide-items .item img{
    width: 100%;
    display: block;
    animation: zoon 1s ease;
}

@keyframes zoon {
    0%{transform: scale(2); opacity: 0;}
    25%{transform: scale(2); opacity: 1;}
    50%{transform: scale(1); opacity: 1;}
}

.slider .slide-items .item {
    display: none;
}

.slider .slide-items .item .rubrica{
    position: absolute;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    left: 0px;
    text-align: center;
    color: white;
    font-size: 30px;
}


.slider .slide-items .item.ativo{
    display: block;
}