body{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(45deg, white);
}

.slider{
    max-width: 700px;
    border:10px solid darkslategray;
    margin: 50px auto;
    overflow: hidden;
}

.slider .slide-items .item img{
    width: 100%;
    display: block;
    animation: zoon 1s ease;
}

@keyframes zoon {
    0%{transform: scale(2); opacity: 0;}
    25%{transform: scale(2); opacity: 1;}
    50%{transform: scale(1); opacity: 1;}
}

.slider .slide-items .item {
    display: none;
}

.slider .slide-items .item .rubrica{
    position: absolute;
    width: 100%;
    height: 60px;
    padding-top: 10px;
    left: 0px;
    text-align: center;
    color:darkolivegreen;
    font-size: 30px;
}


.slider .slide-items .item.ativo{
    display: block;
}

.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.checkbox{
height: 100px;
width: 100px;
position: absolute;
right: 0;
top: 0;
display: flex;
justify-content: center;
cursor: pointer;
z-index: 9999;
transition: 400ms ease-in-out 0s;

}
.checkbox .traco{
width: 50px;
height: 5px;
background-color:darkslategray;
position: absolute;
border-radius: 14px;
transition: 0.5s ease-in-out;
}
.checkbox .traco:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .traco:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .traco:nth-child(3){
    top: 66px;
    transform: rotate(0);

}
#toggle{
display: none;


}
.menu{
position: absolute;
top: 38px;
right: 30px;
background-color: transparent;
height: 4px;
width: 10px;
border-radius:50%;
box-shadow: 0px 0px 0px 0px rgb(32, 32, 32);
z-index: -1;
transition: 400ms ease-in-out 0s;
}
.menu-items{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;
opacity: 0;
visibility: hidden;
transition: 400ms ease-in-out 0s;
}
.menu-items ul{
    list-style-type: none;
}
.menu-items ul li a{
margin: 10px 0;
color:whitesmoke;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 40px;

}
#toggle:checked + .checkbox .traco:nth-child(1){
transform: rotate(45deg);
top: 47px;
}
#toggle:checked + .checkbox .traco:nth-child(2){
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#toggle:checked + .checkbox .traco:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;

}
#toggle:checked + .checkbox{
    background-color:darkslategray;
} 

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax darkslategray;;
    z-index: 1;
}
#toggle:checked ~ .menu-items{
visibility: visible;
opacity: 1;
    
}


 

  *, *:before, *:after {
    box-sizing: border-box;
    }
    
    .footer {
    display:flex ;
    flex-flow: row wrap;
    padding: 50px;
    color: rgb(255, 255, 255);
    background-color: darkslategray;
    }
    
    .footer > * {
      flex:  1 100%;
      }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    h2 {
    font-weight: 400;
    font-size: 17px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration:none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 ;
    margin-right: 1.25em;
    }
    
    .box a {
    color: rgb(170, 170, 170);
    }
    
    .h-box {
    column-count: 1;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align:center;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: rgb(255, 255, 255);
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 1;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 1 0px;
    }
    }
    













  